extends ../templates/base

append config
	-bodyClass='index_body'

block nav
	include ../components/navbar

block footer
	include ../components/footer

block header
	header.header.scroll_section
		img(src="resources/images/topic_art.jpg").header_image
		section.header_data
			h1.header_title Artes
			h6 Esta sección introduce y se enfatiza en el arte computaciónal, sus conceptos y ramas de desarrollo profesional e investigativo
		

block maincontent
	section.problems.scroll_section
		section.activity
			section.activity-header
				h1.activity-title Introducción a las figuras básicas
				ul.activity_topics
					li.activity_topic Operadores Aritméticos
					li.activity_topic Funciones básicas de Processing
					li.activity_topic Sentencias Condicionales
			section.activity-content
				section.activity-section.activity-objective
					p Se quiere a partir de las funciones básicas de Processing generar figuras aleatorias en posiciones aleatorias a través del lienzo. Adicionalmente el color de relleno de cada figura también será aleatorio.
				section.activity-section.activity-description
					p Las figuras geométricas están contenidas a donde sea que volteemos a mirar. Por esta razon es importante primero aprender cómo usarlas e interactuar con ellas antes de realizar procedimientos más avanzados.
				section.activity-section.activity-solution
					p A partir de un proyecto nuevo el estudiante debe generar y guardar un numero aleatorio y a partir del mismo se presentarán una serie de casos posibles, dentro de los cuales estará la creación de cada figura básica utilizada en la herramienta.
				ul.activity-resources
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/#.zip") Ejercicio para desarrollar
					li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/Figuras basicas.zip") Solución desarrollada
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/docs/#.pdf" target="_blank") Enunciado del problema
		section.activity
			section.activity-header
				h1.activity-title Introducción a la animación - parte 1
				ul.activity_topics
					li.activity_topic Operadores Aritméticos
					li.activity_topic Ciclos y Ciclo Implícito de la función Draw
					li.activity_topic Sentencias Condicionales
			section.activity-content
				section.activity-section.activity-objective
					p Se quiere a partir del ciclo implícito de la función Draw de Processing procesar el movimiento de una figura de elección, cabe aclarar que esta figura debe “rebotar” contra las paredes del lienzo. Adicionalmente, el color de dicha figura deberá cambiar a medida que se va moviendo la figura.
				section.activity-section.activity-description
					p Animación es el proceso de dar la sensación de movimiento a figuras o imágenes.
				section.activity-section.activity-solution
					p En primer lugar, se debe hacer uso de la función Setup para la creación y posicionamiento inicial de la figura. En segundo lugar, a partir del ciclo implícito que contiene la función Draw, aumentar o restar los valore de posiciones de las coordenadas de la figura. Para el “rebote”, se debe revisar si el las coordenadas de la figura se encuentran encima o mas allá de los límites del lienzo.
				ul.activity-resources
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/#.zip") Ejercicio para desarrollar
					li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/Animacion parte 1.zip") Solución desarrollada
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/docs/#.pdf" target="_blank") Enunciado del problema
		section.activity
			section.activity-header
				h1.activity-title Introducción a la animación - parte 2
				ul.activity_topics
					li.activity_topic Sentencias Condicionales
					li.activity_topic Creación de funciones.
					li.activity_topic Interpretación del teclado.
					li.activity_topic Ciclos y Ciclo implícito de la función Draw.
			section.activity-content
				section.activity-section.activity-objective
					p Se quiere que sea posible leer la respuesta del usuario a partir del teclado y a partir de ello mover una figura escogida por el mismo.
				section.activity-section.activity-description
					p Teniendo en cuenta la sección de Introducción a la Animación, en algunos campos de aplicación de la Animación, como lo son los videojuegos, se requiere que los usuarios tengan una interacción con la animación de alguna forma. En este caso, una figura deseada tendrá que realizar los movimientos a partir de la interacción con el teclado.
				section.activity-section.activity-solution
					p En primer lugar, se debe definir y posicionar la figura deseada. En segundo lugar, se debe crear la función que recibirá la respuesta del teclado. Finalmente, decidir cómo se moverá la figura dependiendo de la tecla y aplicarlo.
				ul.activity-resources
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/#.zip") Ejercicio para desarrollar
					li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/Animacion parte 2.zip") Solución desarrollada
					//li.activity-resource.icon.icon-download.icon-space: a(href="resources/docs/#.pdf" target="_blank") Enunciado del problema
		section.activity
			section.activity-header
				h1.activity-title Filtrado de imagenes
				ul.activity_topics
					li.activity_topic Uso de funciones
					li.activity_topic Carga y uso de archivos
			section.activity-content
				section.activity-section.activity-objective
					p Se quiere que a partir de las funciones propias de modificación de imágenes que tiene integradas la herramienta Processing se apliquen uno o varios filtros a cierta imagen escogida por el usuario. Adicionalmente, cada imagen de resultado de estos filtros deberá ser mostrado al costado lateral y/o inferior de la imagen original.
				section.activity-section.activity-description
					p El filtrado es una técnica para realizar mejoras o modificaciones hacia una imagen. Esta técnica puede realizarse a partir de los mismos pixeles o a partir de vecindarios. Por fortuna, la herramienta Processing cuenta con una función específica que aplica un filtro de una gran variedad a una imagen seleccionada.
				section.activity-section.activity-solution
					p En primer lugar, se debe realizar la carga de la imagen seleccionada. En segundo lugar, a partir del número deseado de filtros que se quieran aplicar se debe modificar el tamaño del lienzo. Finalmente, se debe posicionar cada imagen cada vez que se aplique un filtro.
				ul.activity-resources
					////li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/#.zip") Ejercicio para desarrollar
					li.activity-resource.icon.icon-download.icon-space: a(href="resources/piezas/Filtrado.zip") Solución desarrollada
					////li.activity-resource.icon.icon-download.icon-space: a(href="resources/docs/#.pdf" target="_blank") Enunciado del problema
