extends ../templates/base

append config

block footer
	include ../components/footer

block main
	section.scroll_section.cover
		section.cover_data
			h1.cover_title Proyecto PensARTE
			h6 Write, compile, run and repeat
			p Proyectos dedicados a la enseñanza y aprendizaje del pensamiento algoritmico
	section.scroll_section.topics.section_body
		h1.topics_title Areas de enfoque
		section.topics_content
			section.topics_topic
				img(src="resources/images/topic_art.jpg").topic_image
				section.topic_content
					h1.topic_title Artes
					p.topic_description 
					p.topic_user Cesar Alejandro Guayara Rodriguez
			section.topics_topic
				img(src="resources/images/topic_systems.jpg").topic_image
				section.topic_content
					h1.topic_title Ingeniería de sistemas
					p.topic_description 
					p.topic_user Juan Manuel Sánchez Lozano
			section.topics_topic
				img(src="resources/images/topic_industrials.jpg").topic_image
				section.topic_content
					h1.topic_title Ingeniería industrial
					p.topic_description Esta sección se enfoca en los fundamentos del pensamiento algorítmico a travez de la resolución de problemas de optimización
					p.topic_user Leonard Stuart Burgos Jimenez
			section.topics_topic
				img(src="resources/images/topic_physics.jpg").topic_image
				section.topic_content
					h1.topic_title Física
					p.topic_description 
					p.topic_user Pablo Andres Ariza Luna
	section.scroll_section.idea.section_body
		h1.idea_title Nuestra idea y proposito
		p.idea_description Sint mentitum eu philosophari, quorum et a elit constias. Te vidisse 
			|fidelissimae. Aut quorum amet export incurreret et quamquam ita fugiat, ita 
			|culpa labore si consequat ut voluptate praetermissum ut cupidatat.
	section.scroll_section.members.section_body
		h1.members_title Miembros del proyecto
		section.members_content
			section.members_member
				img(src="resources/images/profile_alejandro.jpg").member_photo
				h3.member_name Cesar Alejandro Guayara Rodriguez
			section.members_member
				img(src="resources/images/profile_juan.jpg").member_photo
				h3.member_name Juan Manuel Sánchez Lozano
			section.members_member
				img(src="resources/images/profile_leonard.jpg").member_photo
				h3.member_name Leonard Stuart Burgos Jimenez
			section.members_member
				img(src="http://via.placeholder.com/200x200").member_photo
				h3.member_name Pablo Andres Ariza Luna
