extends ../templates/base

append config

block footer
	include ../components/footer

block main
	section.cover
		section.cover_data
			h1.cover_title Proyecto PensARTE
			h6 Write, compile, run and repeat
			p Proyectos dedicados a la enseñanza y aprendizaje del pensamiento algoritmico
