extends ../templates/base

append config
	-bodyClass='index_body'

block nav
	include ../components/navbar

block footer
	include ../components/footer

block header
	header.header.scroll_section
		img(src="resources/images/topic_systems.jpg").cover_section_image
		section.header_data
			h1.header_title Ingeniería de sistemas
			h6 Esta sección se basa en las estructuras de datos y sentencias repetitivas y condicionales
		

block maincontent
	section.introduction.scroll_section
		p considero que algo muy importante y fundamental para el aprendizaje del pensamiento algorítmico, es el pensamiento crítico y la capacidad de abstraer problemas de la vida a una serie de pasos que deben hacerse para resolver un problema especifico, tanto en la abstracción del contexto y contorno del problema como en su forma de resolverlo.
		p Para el área de la ingeniería de sistemas, los principales problemas a abstraer vendrían siendo problemas que consten de:
		ul
			li Gran manejo de datos
				p Con un gran manejo de datos se deberá recurrir a estructuras de datos tales como, clases (objetos), arreglos, matrices, entre otros. Así, el estudiante deberá ver la mejor manera en la que podría almacenar toda la información brindada y así poder utilizarla para brindar la solución que se quiera obtener.
			li Manipulación variable de datos
				p En este sentido la cantidad de datos no necesita ser de gran tamaño en todos los casos (puede que en algunos si), pero lo principal a tomar en cuenta es que los datos son cambiantes y en base al cambio de dichos datos se deben realizar ciertas tareas para brindar un contexto adecuado a lo que se quiere.
			li Situaciones repetitivas
				p Con sentencias repetitivas, le permite al estudiante poder abstraer los elementos básicos necesarios para un algoritmo, y con ello poder identificar lo que son las variables condicionales y ciclos, en los cuales se pueden manejar los datos y así generar una solución a partir de una serie o simplemente repitiendo un resultado las veces deseadas.
			li Condiciones y tomas de decisión
				p Problemas en los que algo debe tomar una decisión en base a un conjunto de eventos o datos recibidos permite al estudiante abstraer las distintas formas que se puede abstraer un problema y como se puede estructurar los distintos caminos de solución para que este se solucione, esto permitirá que el estudiante afronte la gran cantidad de problemas que puede llegar a encontrar, ya que en base a decisiones puede llegar a tener un mejor pensamiento crítico.
	section.problems.scroll_section
		h1.problems_title Banco de ejercicios
		section.problems_content
			section.problems_problem
				img(src="resources/images/problem_mines.jpg").problem_image
				section.problem_data
					h1.problem_title Buscaminas
			section.problems_problem
				img(src="resources/images/problem_carts.jpg").problem_image
				section.problem_data
					h1.problem_title Cartas
			section.problems_problem
				img(src="resources/images/problem_game_of_life.gif").problem_image
				section.problem_data
					h1.problem_title Juego de la vida
