extends ../templates/base

append config
	-bodyClass='index_body'

block nav
	include ../components/navbar

block footer
	include ../components/footer

block header
	header.header.scroll_section
		img(src="resources/images/topic_systems.jpg").header_image
		section.header_data
			h1.header_title Ingeniería de sistemas
			h6 Esta sección se basa en las estructuras de datos y sentencias repetitivas y condicionales
		

block maincontent
	section.problems.scroll_section
		section.problem
			section.problem_header
				h1.problem_title Buscaminas
			section.problem_body
				p.problem_description El clásico juego del buscaminas en el que el usuario debe encontrar todas las minas del tablero, sin fallar en alguna y en el menor tiempo posible. Este juego consta de un tablero en el que hay números los cuales le van ayudando al usuario informándole cuantas minas hay alrededor de dicha celda, tal como se aprecia en la siguiente imagen:
				img(src="resources/images/extra/buscaminas.png")
				ul.problem_topics
					li.problem_topic Pensamiento analítico
					li.problem_topic Operadores aritméticos y lógicos
					li.problem_topic Sentencias condicionales
					li.problem_topic Sentencias Repetitivas
					li.problem_topic Recorrido de matrices
				section.problem_section
					section.problem_column
						p.problem_objective Se quiere a partir de un tablero en el que solo tenemos las minas en distintas posiciones, generar el tablero correspondiente que informa cuantas minas hay alrededor de cada celda.
						ul.problem_tips
							li.problem_tip Cada celda ubicada en una esquina tiene 3 vecinas
							li.problem_tip Cada celda ubicada en un borde tiene 5 vecinas
							li.problem_tip Cada celda ubicada en el interior del tablero tiene 8 vecinas
							li.problem_tip El número correspondiente a cada celda es el total de minas que hay en sus celdas vecinas
							li.problem_tip 
								| Si a una posición arbitraria se tiene en cuenta una forma particular de acceder a sus vecinas, contar puede que sea más fácil.
								br
								img(src="resources/images/extra/vecinos.png")

						
						a(href="resources/piezas/Buscaminas ejercicio.zip")
							span.icon.icon-download
							|  Descargar ejercicio
						a(href="resources/docs/Buscaminas enunciado.pdf" target="_blank")
							span.icon.icon-download
							|  Descargar enunciado completo
					section.problem_column
						p.problem_solution Como solución a este problema, lo primero es abstraer los pasos que se deberían hacer para resolver el problema, entre estos están:
						ol
							li Recorrer la matriz inicial dada
							li Para cada posición de la matriz contar entre sus vecinos cuántos de ellos tienen mina
							li Asignar el conteo
						p.problem_solution Una vez identificado esto, se procede a desarrollar cada paso, sobre todo el paso número 2, ya que este se puede hacer de varias maneras, ya sea una condicional para posición de los vecinos y preguntando si ese vecino existe en caso de que sea un borde o una esquina.
						a(href="resources/piezas/Buscaminas solucion.zip")
							span.icon.icon-download
							|  Descargar solución
