$active: 	#0077AA;
$success: 	#069B5A;
$warning: 	#FD9234;
$alert: 	#DD4F43;
$disabled: 	#999999;

$blue-1: 	#03151F;
$blue-2: 	#006BAB;
$blue-3: 	#00B1F3;
$blue-4: 	#29DAFF;
$blue-5: 	#5EC2F7;
$blue-6: 	#DCF1F3;

$red-1: 	#4B1C23;
$red-2: 	#E41C39;
$red-3: 	#FF3532;
$red-4: 	#DE5347;
$red-5: 	#D57E74;
$red-6: 	#E1A29B;

$green-1: 	#1F3025;
$green-2: 	#2F7932;
$green-3: 	#4BAD4E;
$green-4: 	#74CD77;
$green-5: 	#AEE7AE;
$green-6: 	#C6E4C6;

$yellow-1:	#3B3C08;
$yellow-2:	#DFB20C;
$yellow-3:	#FFBB00;
$yellow-4:	#FCCF4D;
$yellow-5:	#F5F957;
$yellow-6:	#F1E599;

$black: 	#000000;
$gray-1: 	#111111;
$gray-2: 	#222222;
$gray-3: 	#333333;
$gray-4: 	#444444;
$gray-5: 	#555555;
$gray-6: 	#666666;
$gray-7: 	#777777;
$gray-8: 	#888888;
$gray-9: 	#999999;
$gray-A: 	#AAAAAA;
$gray-B: 	#BBBBBB;
$gray-C: 	#CCCCCC;
$gray-D: 	#DDDDDD;
$gray-E: 	#EEEEEE;
$white: 	#FFFFFF;
