.btn-trigger
nav#main-menu.hidden
	ul
		li: a(href="index.html")
			span.icon.icon-home
			|PensARTE
		li: a(href="artes.html")
			span.icon.icon-paint-brush
			|Artes
		li: a(href="fisica.html")
			span.icon.icon-car
			|Física
		li: a(href="sistemas.html")
			span.icon.icon-code
			|Ingeniería de sistemas
		li: a(href="industrial.html")
			span.icon.icon-industry
			|Ingeniería industrial
