.topics_title, .idea_title, .members_title {
	font-size: 4em;
	text-align: center;
	margin-bottom: $gutter * 8;
}

.topics {
	justify-content: center;
	align-items: center;
	padding: $gutter * 8;

	.topics_content {
		display: grid;
		grid-template-columns: repeat(2, 500px);
		grid-gap: $gutter * 2;
	}

	.topics_topic {
		width: 500px;
		height: 282px;
		overflow: hidden;
		position: relative;
		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.1);
			z-index: 1000;
			box-shadow: 0 30px 50px -20px;
		}
	}

	.topic_content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $gutter $gutter * 3;
		background: linear-gradient(transparent, $gray-1);
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.topic_image {
		width: 100%;
		display: block;
	}

	.topic_description {
		font-weight: lighter;
	}

	.topic_user {
		font-size: 0.8em;
		text-align: right;
	}
}

.idea {
	justify-content: center;
	align-items: center;
	padding: $gutter * 8 $gutter * 40;
	height: 100vh;
}

.members {
	justify-content: center;
	align-items: center;
	padding: $gutter * 8 $gutter * 16;

	.members_content {
		display: grid;
		grid-template-columns: repeat(4, 250px);
		grid-gap: $gutter * 2;
	}

	.members_member {
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $gutter;
	}

	.member_name {
		text-align: center;
	}

	.member_photo {
		width: 150px;
		height: 150px;
		display: block;
		border-radius: 50%;
		object-fit: cover;
	}
}
