block config
	include ../config/config
	include ../config/mixins

doctype html
html(lang="es")
	head
		title= title
		meta(charset="utf-8")
		link(rel="icon" type="image/png" href="resources/images/titleLogo.png")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="css/styles.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/owl.theme.default.min.css")
		block styles
	body(class=bodyClass)
		block header
		block nav
		block main
			.maincontent
				block maincontent
		block footer

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdn.rawgit.com/mburakerman/prognroll/master/src/prognroll.js")
		script(src="js/jquery.scrollify.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/processing.min.js")
		block prescripts
			script
				| var scrollPage = #{scrollPage};
		script(src="js/scripts.js")
		block proscripts
