block config
	include ../config/config
	include ../config/mixins

doctype html
html(lang="es")
	head
		title= title
		meta(charset="utf-8")
		meta(X-Frame-Options="deny")
		link(rel="icon" type="image/png" href="resources/images/icon.png")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="css/styles.css")
		block styles
	body(class=bodyClass)
		block header
		block nav
		block main
			.maincontent
				block maincontent
		block footer

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		//script(src="js/jquery-3.2.1.min.js")
		//script(src="js/push.min.js")
		script(src="js/viewport-size.js")
		script(src="js/jquery.scrollify.min.js")
		script(src="js/scripts.js")
