.cover {
	height: 100vh;
	display: flex;
	align-items: flex-end;
	background: image("cover.jpg") center center / cover fixed no-repeat;

	.cover_data {
		background: rgba($gray-C, 0.4);
		align-items: center;
		padding: $gutter * 8 $gutter * 16;
		margin: $gutter * 4;
		text-align: center;
		box-shadow: 0 3px 10px $gray-3;
	}

	.cover_title {
		font-size: 5em;
	}
}

.section_body {
	background: image("background.png") center center / cover fixed no-repeat;
}
