.activity {
	user-select: none;

	.activity-header {
		background: image("cover.jpg") center center / cover fixed no-repeat;
		padding: $gutter;
		padding-top: $gutter * 10;
	}

	.activity-title {
		margin: 0;
		transition: all 0.3s ease;
		text-align: left;
	}

	.activity_topics {
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		margin-top: $gutter;
	}

	.activity_topic {
		color: $gray-1;
		border: 1px solid;
		padding: 0 4px;
		font-size: 0.8em;
		margin: $gutter / 2;
		border-radius: 50px;
		font-weight: bold;

		&:first-child {
			margin-left: 0;
		}
	}

	.activity-content {
		position: relative;
	}

	.activity-section {
		padding: 0 $gutter * 2;

		&::before {
			display: block;
			border-bottom: 1px solid $gray-3;
			font-size: $h4;
			font-weight: bold;
			margin: $gutter 0;
			padding: $gutter 0;
		}
	}

	p {
		text-align: justify;
	}

	img {
		max-width: 100%;
	}

	.activity-link {
		margin-right: $gutter * 2;
	}

	.activity-objective {
		margin: $gutter $gutter * 3;
		background: $gray-D;
		border: 1px solid $gray-C;
	}

	.activity-objective::before {
		content: 'Objetivo';
		border: 0;
	}
	.activity-description::before {
		content: 'Enunciado';
	}
	.activity-tips::before {
		content: 'Ayuda';
	}
	.activity-solution::before {
		content: 'Solución';
	}

	.activity-resources {
		color: $gray-D;
		background: $gray-3;
		list-style: none;
		padding: $gutter $gutter * 2;

		&::before {
			content: 'Recursos';
			display: block;
			font-size: $h4;
			font-weight: bold;
			padding: $gutter 0;
		}
	}

	.activity-resource {
		padding-left: $gutter;
	}

	@include from(laptop) {
		.activity-content {
			padding-right: 350px + $gutter;
		}

		.activity-resources {
			position: absolute;
			top: 0;
			right: $gutter;
			width: 350px;
			margin: 0;
			padding: $gutter * 3 $gutter * 2;
		}
	}
}
